.body{
    margin: 0;
    padding: 0;
    font-family: Impact;
    background: url(background-cont.jpg);
    background-size: cover;
    
}
.Homearea {
    color: white;
    text-decoration: none;
    
    
}
.contact-us-page{
    color: aquamarine
}
.contact-form{
   width: 110%;
   height: 60%;
   max-width: 600px;
   background: white;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   padding: 30px 40px;
   box-sizing: border-box;
   border-radius: 8px;
   text-align: center;
   box-shadow: 0 0 20px #000000b3;
   

}
.contact-form h1{
    margin-top: 0;
    font-weight: 200;


}
.txtb{
    border: 1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
}
.txtb label{
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
}
.txtb input,.txtb textarea{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}
.btn{
    display: inline-block;
    background: #9b59b6;
    padding: 14px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    width: 95%;
    margin-top: 8px;
}